#myDiv {
    padding: 20px ;
    background-color: lightblue;
    font-size: 18px ;
    transition: all 0.3s ease ;
}

.highlight {
    background-color: yellowgreen ;
    border: 2px dashed red;
    transition: all 0.3s ease ;
    

}